*.o
*.ko
*.obj
*.elf

*.tmp
*.swp
*.swo

*.mod
*.mod.c
*.cmd
*.symvers
*.order
*.markers

/lib/
/boot/
/usr/
/mnt/
/build/
/out/
/initramfs/

/modules.builtin
/modules.order

*.log
*.diff
*.patch

*.tar.gz
*.tar.bz2
*.zip
*.tgz
*.xz
